body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* .banner-section below */
.banner-section{
    display: flex;
    background-color: #f8f8f8;
    height: 100vh;
}
.first-part{
    width: 50%;
    margin-top: 10rem;
    margin-left: 6rem;
    padding: 20px;
}
.first-half{
    padding: 20px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 18px;
    margin-bottom: 2rem;
}
span{
    color: chocolate;
}
.button{
    text-decoration: none;
    margin-top: 10rem;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    border-radius: 20px;
    color: white;
    background-color: chocolate;
}

/* middle section below */

.middle-section{
    display: flex;
}
.middle-section{
    background-image: url(images/person.png);
   height: 100vh;
   background-size: cover;
}
#about-section{
    float: right;
    width: 50%;
    margin-left: 50rem;
    padding: 20px;
}
/* middle section end */


/* resipies- section below*/
.recipies-section{
    width: 80%;
    margin: auto;
    padding: 80px 0px;
    text-align: center;
    display: flex;
    
}
h1{
    font-size: 50px;
    font-weight: 700;
    
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 12px 0px;
}
/* .card-section below */
.card-section {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: whitesmoke;
    margin: 20px;
    width: 33.33%;
    float: left;
    border-radius: 20px;
  }
  .card-section {
    width: 30%;
    transition: 0.3s;
}
.recipies-section .card-section img{
    width: 80%;
    border-radius: 20%;
    padding: 30px;
    
  }
  .recipies-section .card-section h4{
      font-size: 25px;
      font-weight: 700;
  }
  #img-size{
      width: 75%;
  }
  
  .card-section:hover {
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.3);
  }
  
  .container {
    padding: 20px;
    border-radius: 20px;
    height: 200px;
  }
  /* .subscription-section below */
  .subscription-section{
    width: 100%;
    margin: 40px 0px 100px;
}
.subscription-section .container{
    width: 72%;
    display: flex;
    margin: 20px auto 20px;
    padding: 3%;
    box-shadow: 5px 10px 30px black;
    border-radius: 30px;

}
.subscription-section .container .inner-container{
    width: 33.33%;
    padding: 20px;
    text-align: center;
}
.subscription-section.container .inner-container h1{
    font-size: 25px;
    font-weight:700;
    margin:15px;
}
.subscription-section .container .inner-container h2{
    font-size: 20px;
    font-weight: 500;
}
/* .footer-section below  */
.footer-section{
    text-align: center;
    margin-top:50px ;
    padding: 40px;
    background-color: black
}
.footer-section p{
    font-weight: 600;
    color: white;
}
.footer-section h2{
    font-size: 25px;
    color: white;
    font-family: sans-serif;
}